# GCP Project
GCP_PROJECT_ID=
GCP_REGION=us-central1
GCS_BUCKET_NAME=predictive-maintenance-artifacts
BILLING_ACCOUNT_ID=

# Vertex AI
VERTEX_ENDPOINT_ID=
DEPLOYED_MODEL_ID=

# Dashboard
STREAMLIT_ENDPOINT_URL=
